.container {
    width: 100%;
    padding-block: 4rem;
}

.Box {
    margin: 0.7rem 0;
    position: relative;
}

.miniBox {
   border-radius: 0.1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: var(--main-color);
   font-family: 'Playfair Display', sans-serif ;
   border: 0.7px solid var(--main-color);
   height: 320px;
}

.miniBox p {
    padding: 1rem;
    text-align: left;
    font-family: 'Playfair Display', sans-serif;
    font-size: 0.9rem;
    position: relative;
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.miniBox img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
}